<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

<!-- First get use ref in another xml file -->
		<bean id="CsvOutputGenerator" class="com.spring.controller.CsvOutputGenerator" />

</beans>
